<div id="page-wrapper">
    <form id="message-form" action="#" method="post">
        <button type="button" id="send">Send Message in Socket</button>
        <button type="button" id="clear">Clear all Sent Messages</button>
        <button type="button" id="close">Close Connection to Websocket</button>
    </form>

    <div id="msg"></div>

    <div id="msg-data"><p>Please send a message.</p></div>
</div>
